  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="https://www.taborspace.org">TaborSpace</a>
                        </li>
                        <li><a href="http://www.takingcarecancer.org/">Taking Care Cancer</a>
                        </li>
                        <li><a href="https://www.weblively.com">WebLively</a>
                        </li>
{% comment %}					
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
{% endcomment %}
                    </ul>
                </div>
            </div>
        </div>
    </footer>